body{
  background-color: #444;
}

#content {
  height: 100vh;
}

#footer {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

#footer a{
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  text-decoration: none;
}

#footer a:hover{
  font-family: Verdana, Geneva, sans-serif;
  color: #e7e;
  text-decoration: none;
}

.resume {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 768px;
  height: 100%;
}